SDKROOT = iphoneos
SUPPORTS_MACCATALYST = NO
TARGETED_DEVICE_FAMILY = 1,2
PRE_XCODE_10_1_ARCHS = arm64
ARCHS[sdk=iphoneos*] = $(ARCHS_STANDARD) armv7s arm64e
SKIP_INSTALL = YES

OTHER_CFLAGS = $(inherited) -fembed-bitcode-marker
OTHER_CFLAGS[config=Release][sdk=iphoneos*] = $(GLOBAL_CFLAGS) -fembed-bitcode
OTHER_CFLAGS[sdk=macosx*] = $(GLOBAL_CFLAGS)

APPCENTER_BUILD_PLATFORM = iOS
